.venv
__pycache__
.pytest_cache
structures
details
bbb_perm
deepmol.log
.claude
.cache
.gemini
.ssh
.thunder
.antigravity-server
.vimrc
.bashrc
.bash_logout
.profile
.hushlogin

# Too large
checkpoint/
screening/
